$black: #000000;
$black-3: #333333;
$black-5: #555555;
$white: #FFFFFF;
$white-2: #DDDDDD;
$red: #FF0000;

$header-background: $black-3;
$button-background: $black-5;
$button-background-hover: $black;
$button-text: $white;
$container-hover: $white-2;
$search-icon: $white;
$logo-text: $white;
$error-text: $red;