.loading {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.cards {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}